@import "_var";

header {
  font-family: $font-Kiwi-Maru;
  .nav {
    background-color: $blue;
    overflow: hidden;
    a {
      float: left;
      color: $white;
      text-align: center;
      font-size: $normal;
      padding: 20px 20px;
    }
    .active {
      color: $black;
      background-color: $red;
    }
    :hover {
      background-color: $white;
      color: $red;
    }
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  main {
    width: 100%;
    height: 100%;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    .main-container {
      width: 100%;
      text-align: center;
      img {
        margin-top: -10px;
        @media (max-width: $sm) {
          width: 100px;
        }
      }
      h1 {
        font-size: $xlarge;
        font-family: $font-Kiwi-Maru;
        color: $white;
        @media (max-width: $sm) {
          font-size: $medium;
          width: 300px;
        }
      }
      p {
        font-family: $font-Kiwi-Maru;
        font-size: $small;
        color: $white;
        padding-top: 30px;
        @media (max-width: $sm) {
          font-size: $small;
        }
      }
      .time {
        display: inline-block;
        width: 100%;
        max-width: 400px;
        padding: 30px 0px;
        justify-content: center;
        align-items: center;
        @media (max-width: $md) {
          max-width: $sm;
        }

        .days,
        .hours,
        .minutes,
        .seconds {
          float: left;
          color: $white;
          width: 100%;
          width: calc(100% / 4);
          font-family: $font-Lexend;
        }
        label {
          width: 100%;
          float: left;
          text-align: center;
          font-size: $large;
        }
        span {
          width: 100%;
          float: left;
          text-align: center;
          font-size: $small;
          padding: 10px 0px;
          font-family: $font-Kiwi-Maru;
        }
      }
      form {
        text-align: center;
        p {
          font-family: $font-Kiwi-Maru;
          font-size: $normal;
        }
        input {
          width: 30%;
          height: 20px;
          border-bottom: 3px solid $white;
          background-color: transparent;
        }
        button {
          background-color: $red;
          width: 100px;
          height: 40px;
          border-radius: 25px;
          color: $white;
          margin-top: 10px;
          font-size: $small;
        }
      }
      .icon-scroll {
        width: 40px;
        height: 70px;
        border-radius: 25px;
        border: 3px solid $white;
        margin-left: calc(50% - 20px);
        margin-top: 20px;
        .scroll {
          width: 8px;
          height: 8px;
          background: $white;
          margin-left: calc(50% - 4px);
          border-radius: 5px;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          animation-name: scroll;
        }
        @keyframes scroll {
          from {
            top: 0%;
            opacity: 1;
          }
          to {
            bottom: 100%;
            opacity: 0;
            transform: translateY(47px);
          }
        }
      }
    }
  }
  section {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    @media (max-width: $md) {
      height: 900px;
    }
    .block {
      display: inline-block;
      width: 100%;
      padding-top: 100px;
      @media (max-width: $md) {
        height: 100%;
      }
      .block-left {
        float: left;
        width: 50%;
        @media (max-width: $sm) {
          font-size: $medium;
          width: 300px;
        }
        h2 {
          font-family: $font-Kiwi-Maru;
          font-size: $normal;
          padding-left: 10px;
          @media (max-width: $sm) {
            font-size: $medium;
            width: 300px;
          }
        }
        p {
          font-family: $font-Kiwi-Maru;
          font-size: $small;
          padding: 10px;

          span {
            color: $red;
            font-size: $small;
          }
        }
        .file {
          width: 50%;
          width: 400px;
          height: 10px;
        }
        label {
          font-family: $font-Kiwi-Maru;
          font-size: $small;
        }
        progress::-webkit-progress-value {
          background: $blue;
        }
        div {
          padding: 10px;
        }
        @media (max-width: $xl) {
          width: 100%;
        }
      }
      .block-right {
        float: left;
        width: 50%;
        h2 {
          font-family: $font-Kiwi-Maru;
          font-size: $normal;
          padding-left: 10px;
          @media (max-width: $md) {
            font-size: $small;
          }
        }
        p {
          font-family: $font-Kiwi-Maru;
          font-size: $small;
          padding: 10px;
          span {
            color: $red;
            font-size: $small;
          }
        }
        form {
          width: 100%;
          margin-top: 40px;
          .name {
            width: 49%;
            float: left;
            border-bottom: 1px solid grey;
            padding: 3px 0;
          }
          .email {
            width: 49%;
            float: right;
            border-bottom: 1px solid grey;
            padding: 3px 0;
          }
          .textarea {
            width: 100%;
            border-bottom: 1px solid grey;
            resize: none;
            margin-top: 25px;
            padding: 6px 0;
            height: 70px;
          }
          button {
            background-color: $red;
            color: $white;
            width: 150px;
            height: 40px;
            font-family: $font-Kiwi-Maru;
            border-radius: 10px;
            font-size: $small;
            margin-left: 60%;
            margin-top: 10px;
          }
        }
      }
    }
  }
  footer {
    background-color: $blue;
    width: 100%;
    display: flex;
    justify-content: center;
    .footer-box {
      width: 100%;
      text-align: center;
      .icon-box {
        display: inline-block;
        width: 100%;
      }
      text-align: center;
      justify-content: center;
      .fa {
        width: 50px;
        color: $white;
      }
      p {
        font-family: $font-Kiwi-Maru;
        font-size: $small;
        color: $white;
      }
      img {
        @media (max-width: $sm) {
          width: 100px;
        }
      }
    }
    .arrow {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: $red;
      border-radius: 100%;
      right: 50px;
      top: 1250px;
      justify-content: center;
      text-align: center;
      a {
        color: $white;
        line-height: 40px;
        font-size: $medium;
      }
    }
  }
  .container {
    width: 100%;
    max-width: 1200px;
    padding: 3%;
    @media only screen and (max-width: $md) {
      max-width: 98%;
    }
  }
}
