/* Font family*/
$font-Kiwi-Maru: 'Kiwi Maru', serif;
$font-Lexend: 'Lexend', sans-serif;

/* Font size*/
$xsmall: 8px;
$small: 15px;
$normal: 25px;
$medium: 35px;
$large: 60px;
$xlarge: 70px;

/* Media*/
$sm: 400px;
$md: 720px;
$xl: 920px;
$xxl: 2000px;

/* Color*/
$black: black;
$red: red;
$white: rgb(252, 251, 249);
$blue: rgb(83, 83, 218);
